/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Color palette */
:root{
    
--dark: #000000;
--light : #FFFFFF;
--soft-dark: #141922;
--dark-grey: #282828;
--grey: #C1C1C1;
--acid: #ADFF2F;

}

/* general */


/* general end */

/* body */

/* app */

.app{
    width: 100%;
    height: 100vh;
    background-color: var(--dark);
    color: var(--grey);
}

/* controlbar */
#control-bar{
    width: 100%;
    height: 90px;
    background-color: var(--dark-grey);
}
/* controlbar end */

/* app end */

/* body end */

