/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Color palette */
:root{
    
--dark: #000000;
--light : #FFFFFF;
--soft-dark: #141922;
--dark-grey: #282828;
--grey: #C1C1C1;
--acid: #ADFF2F;

}

/* general */

.d-flex{
    display: flex;
}

.f-direction{
    flex-direction: column;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--grey);
    font-size: 0.8rem;
}

.upp-c{
    text-transform: uppercase;
}

.just-e{
    justify-content: end;
}

.just-c{
    justify-content: center;
}

.align-ic{
    align-items: center;
    align-content: center;
}

.padd-1{
    padding: 1rem;
}

.padd-lr{
    padding: 0.2rem 1rem;
}
.padd-s{
    padding: 1rem 1rem 1rem 0;
}

.padd-logo{
    padding: 1rem 1rem 0 1rem;
}

/* general end */

/* body */

/* app */

.app{
    width: 100%;
    height: 100vh;
    background-color: var(--dark);
    color: var(--grey);
}

/* controlbar */
#control-bar{
    width: 100%;
    height: 90px;
    background-color: var(--dark-grey);
}
/* controlbar end */

/* main */
main{
    width: 100%;
    height: calc(100% - 90px);
    color: var(--grey);
    overflow: hidden;
}

/* side nav menu */
.nav-sidemenu{
    width: 230px;
    min-height: 480px;
    background-color: var(--dark);
}
/* /side nav menu */

/* app content */

.app-content{
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--soft-dark);
    overflow-y: auto;
}

#promotions{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    height: 70px;
    background-color: rgba(0, 0, 0, 0.4);
}

.button{
    border: 1px solid var(--light);
    color: var(--light);
    border-radius: 25px;
    padding: 0.5rem 2rem;
    display: inline-block;
    font-size: 0.7rem;
}

.albums{
    margin-top: 70px;
}

/* first row */

.row{
    outline: 1px solid red;
}

.spacer{
    width: calc(100% / 6);
}

.img-box img{
    width: 100%;
    display: block;
}

.img-box{
    max-width: 100%;
}

.rounded{
    border-radius: 50%;
}

.title p, .title sub{
    padding: 0.2rem;
}

/* /first row */

/* /app content */

/* nav sidebarmenu */

.logo{
    color: var(--light);
    font-weight: bold;
    font-size: 2rem;
}

.logo sup{
    color: var(--light);
    font-weight: lighter;
    font-size: 0.6rem;
}

.sidemenu-commands li img{
    width: 1.5rem;
    padding-right: 0.3rem;
}

.sidemenu-commands li{
    padding: 0.3rem 0;
}
/* /nav sidebarmenu */

/* main end */

/* app end */

/* body end */

